@font-face {
  font-family: "Bebas-Neue";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Bebas-Neue"), local("Bebas-Neue"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
}
html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: block;
  width: 100%;
  max-width: 1600px;
  padding: 0 80px;
  margin: 0 auto;
}

.header {
  background-color: #635854;
  border-bottom: 4px solid #3596F5;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}
.logo svg {
  vertical-align: middle;
}

.nav {
  display: flex;
}

.nav__link {
  display: block;
  margin-right: 80px;
  padding: 9px 16px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  transition: color 0.2s linear;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link:hover, .nav__link:focus {
  color: #3596F5;
}
.nav__link--active {
  background-color: #3596F5;
}
.nav__link--active:hover, .nav__link--active:focus {
  color: #FFFFFF;
}

.phone {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: right;
}
.phone:hover span, .phone:focus span {
  text-decoration: underline;
}
.phone span {
  margin-top: 4px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.main__wrapper {
  display: flex;
  align-items: center;
}

.main__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main__home-icon path {
  transition: opacity 0.1s linear;
  opacity: 0;
  cursor: pointer;
}
.main__home-icon path:hover {
  opacity: 1;
}
.main__home-icon .active-floor {
  opacity: 1;
}

.main__counter {
  margin: 35px 0;
  font-family: "Bebas-Neue", sans-serif;
  font-size: 128px;
  line-height: 128px;
  color: #635854;
}

.main-controls-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 116px;
  min-width: 150px;
}

.main__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main__btn--down svg {
  transform: rotate(180deg);
}

.main__title {
  margin-bottom: 116px;
  font-family: "Bebas-Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}

.main__show-btn {
  display: inline-block;
  padding: 16px 36px;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #3596F5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.main__show-btn:hover, .main__show-btn:focus {
  background-color: #0c7deb;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.modal__wrapper {
  display: flex;
  height: 565px;
  opacity: 0;
  transform: translateY(10%);
  transition: transform 0.3s ease-in-out, opacity 0.2s linear;
  transition-delay: 0.2s;
}

.modal--active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.modal--active .modal__wrapper {
  opacity: 1;
  transform: translateX(0);
}

.modal__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  background-color: #EBEBEB;
}

.modal__floor-title {
  margin-bottom: 26px;
  font-family: Bebas-Neue, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
}

.modal__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 403px;
  padding: 50px 45px;
  height: 100%;
  background-color: #FFFFFF;
}

.modal__close {
  position: absolute;
  top: 38px;
  right: 27px;
  cursor: pointer;
}

.modal__item {
  margin-bottom: 10px;
}
.modal__item:last-child {
  margin-bottom: 0;
}

.modal__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #635854;
}
.modal__link:hover, .modal__link:focus {
  color: #3596F5;
  text-decoration: underline;
}

.active--link {
  color: #3596F5;
  text-decoration: underline;
}

.modal__redeem {
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  color: #635854;
}

.modal__icon path {
  transition: opacity 0.1s linear;
  opacity: 0;
  cursor: pointer;
}
.modal__icon path:hover {
  opacity: 1;
}
.modal__icon .active-flat {
  opacity: 1;
}

.footer {
  padding: 50px 0;
  background-color: #D7D7D7;
  border-top: 4px solid #3596F5;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-right: 37px;
}
.footer-logo svg {
  vertical-align: middle;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__phone {
  text-align: left;
  color: #635854;
}

.social, .footer-nav {
  display: flex;
  align-items: center;
}

.social {
  margin-left: 59px;
}
.social__item {
  margin-right: 15px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__icon {
  fill: #635854;
}
.social__icon:hover {
  fill: #3596F5;
}

.footer-nav .footer-nav__item {
  margin-left: 20px;
}
.footer-nav .footer-nav__item:first-child {
  margin-left: 0;
}
.footer-nav .footer-nav__link {
  color: #635854;
  text-decoration: underline;
}
.footer-nav .footer-nav__link:hover {
  color: #3596F5;
}

/*# sourceMappingURL=style.css.map */
