.header {
  margin-bottom: 55px;
  background-color: $color-darkgray;
  border-bottom: 4px solid $color-primary;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: inline-block;

  svg {
    vertical-align: middle;
  }
}

.nav {
  display: flex;
}

.nav__link {
  display: block;
  margin-right: 80px;
  padding: 9px 16px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $color-light;
  transition: color .2s linear;

  &:last-child {
    margin-right: 0;
  }

  &:hover, &:focus {
    color: $color-primary;
  }

  &--active {
    background-color: $color-primary;

    &:hover, &:focus {
      color: $color-light;
    }
  }
}

.phone {
  font-size: 14px;
  line-height: 16px;
  color: $color-light;
  text-align: right;

  &:hover, &:focus {
    span {
      text-decoration: underline;
    }
  }

  span {
    margin-top: 4px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
  }
}